[2022-01-08 02:41] NtemKenyor opened #7 "Homepage Image Slide"
@emmaglorypraise please complete the homepage by adding the image slider. Choose images from the assets folder as there are may images/photos there.

[2022-01-08 02:43] NtemKenyor opened #8 "Favicon"
In the title tag of all our pages a favicon should be added.

The favicon will be our brand logo - Kwicker Logo in the assets area.

[2022-01-08 02:46] NtemKenyor opened #9 "API Usage"
@gideonakpan please feed on the backend API so that every functionality will be set and complete for the Register and Sign-in pages. Thank you.

[2022-01-08 02:53] NtemKenyor opened #10 "Dashboard Styling"
The user interface of the dashboard needs more attention and better styling.

Anybody can contribute or come up with fresh ideas.

[2022-02-12 10:55] NtemKenyor opened #14 "grammatic error"
I have noticed that some sentences do not make perfect sense. You can easily try to fix that.

[2022-02-12 22:40] ParisaTork commented on #14
Happy to do this for you, if you'd like? Is it just the README.md that needs fixing?

[2022-02-13 05:54] NtemKenyor commented on #14
Yeah.

The read.md needs fixing and I heard the is a way to design the read.md
file on GitHub to make it more colorful, attractive and informative.

Also, if you can spot out any misspelling or grammatic errors in other
corners of the project, please help in fixing it.

Thank you.

On Sat, Feb 12, 2022, 23:40 Parisa Tork ***@***.***> wrote:

[2022-02-13 06:30] ParisaTork commented on #14
Great - that's all been sorted :) Link to PR: https://github.com/KwickerHub/frontend/pull/16

[2022-02-13 22:35] ParisaTork commented on #14
@NtemKenyor - if you're happy with this, you can merge it to master? https://github.com/KwickerHub/frontend/pull/16

[2022-02-14 07:36] NtemKenyor commented on #14
Ok. I will go through everything. Thank you 💕

On Sun, Feb 13, 2022, 23:36 Parisa Tork ***@***.***> wrote:

[2022-02-21 21:33] NtemKenyor commented on #14
I have merged your contribution. thank you.

[2022-09-30 07:57] NtemKenyor commented on #9
We have started using the back-end API and I believe we will continue to use it.  LOL!!! It is what makes the entire software dynamic now.

[2022-09-30 07:57] #9 closed

[2022-09-30 07:59] NtemKenyor commented on #10
We are still open to receive more design options about how the dashboard should look like. However, I will just keep this issue open for the main time.

[2022-09-30 08:00] NtemKenyor commented on #14
I will close this issue but i will be opening another to check for grammatical errors made by developers and proper documentation of the software.

[2022-09-30 08:00] #14 closed, assigned to nobody

[2022-09-30 08:11] NtemKenyor opened #18 "Move all Javascript code from dashbaord"
We need to move all JavaScript code from dashboard to the script section in assets: frontend/assets/vendor/js/

Steps

1.  Create a "dashboard.js" file in the "js" folder
2.  Move all the code in the script section in "dashboard.html" to the newly created file
3.  Do not forget to reference the new file in the "dashboard.html"  using the script tag in the head section - So that you do not leave ou

[2022-09-30 08:12] NtemKenyor commented on #8
I believe this issue is solved.

[2022-09-30 08:12] #8 closed

[2022-09-30 08:13] NtemKenyor commented on #7
Create one from @emmaglorypraise

[2022-09-30 08:14] NtemKenyor commented on #7
I am still leaving this issue open for more contributions on our homepage. i may be leaving it open for sometime for more advancement and improvement. Thanks guys

[2022-09-30 08:18] NtemKenyor opened #19 "Create "About us" Page"
We need someone to create an html page in the pages folder that will content a little description about us. The design can be made and the content will be added gradually.

**The Design**
The design should include our logo or a brand nice image of a hub and text content

**The content should include:**
What is the name of the Software?
What is the main aim of the Software?
Who invented the Softwar

[2022-09-30 08:20] NtemKenyor opened #20 "Move all CSS code from dashboard.html"
Please, move all the styles in the style tag in dashboard.html to the css section under the assets folder. This will help keep our work clean and nice.

[2022-09-30 08:30] NtemKenyor opened #21 "Create "Help" Page"
Create a help.html page. It has to look like a question and answer page. Where people see already asked questions and they too can ask questions. I have made a little research on pages i think you should look at the list of question and answer site below:
https://athemes.com/collections/best-question-answer-wordpress-themes/

You are free to make the Job more simple for yourself.
Feel free to also

[2022-09-30 08:58] NtemKenyor opened #22 "Create a "Tutorial" Page"
Since this is an open source project, we will love to promote our own. We will love to celebrate people who make articles or content creators on YouTube who make videos about this project or Tiktokers who make short clips about this project on Tiktok. We will love to use this page to encourage everybody.

In this page, All the list of videos or articles creator by contributors should be listed out

[2022-09-30 09:23] Shyamala7 commented on #20
Can I take this

[2022-09-30 09:25] Shyamala7 commented on #18
Can I take this?

[2022-09-30 09:49] NtemKenyor commented on #18
yea. Sure 👍

On Sep 30, 2022 10:25, "Shyamala Gopalakrishnan" ***@***.***>
wrote:

Can I take this?

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/18#issuecomment-1263331936>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AOKWIBPX3L3Z3XMMWZHGU3TWA2WZHANCNFSM6AAAAAAQZRASFE>
.
You are receiving this because you authored the threa

[2022-09-30 09:50] NtemKenyor commented on #20
No issues. Remember to keep your Pull request till hacktoberfest starts.
Good luck.

On Sep 30, 2022 10:24, "Shyamala Gopalakrishnan" ***@***.***>
wrote:

Can I take this

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/20#issuecomment-1263330432>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AOKWIBN2SYOFHTRDGE4YGQTWA2WTTANCNFSM

[2022-09-30 11:17] Aman0307 commented on #20
@NtemKenyor can I contribute to this issue as it is still open??

[2022-09-30 12:14] krishnabiradar3108 commented on #21
Hello can i work on this?

[2022-09-30 19:30] Munnachienyi commented on #20
i can see you want to write clean code, can I take this issue?

[2022-10-01 08:24] NtemKenyor commented on #20
@Shyamala7 I have assigned the Job to you but I will be adding similar issues for @Aman0307 and @Munnachienyi

Thank you for your time and interest in contributing. Keep checking our issues page today for more updates

[2022-10-01 08:27] Alve2000 commented on #19
@NtemKenyor  Hey, I like to contribute to this project, Would appreciate it if you assign me.

[2022-10-01 08:37] NtemKenyor commented on #20
For the main time, Watch this introductory video on contributing to Kwikerhub: https://www.youtube.com/watch?v=p2z3frymoiU

[2022-10-01 08:43] NtemKenyor opened #24 "Add an Icon in the view menu section"
Add an icon to the "View Page" in the view section in the menu of the dashbaord.html.

You can add two icons(to the left and right) but make sure to include a redirect icon because we will be redirecting the user to the "View Page" html file in a new tab.
This is a really simple task. Enjoy it.

[2022-10-01 08:58] NtemKenyor commented on #19
I have assigned the task to you. You may also want to check out this introductory video: https://www.youtube.com/watch?v=p2z3frymoiU

[2022-10-01 09:18] akashyadav24 commented on #24
can you assigne me this task ?

[2022-10-01 09:37] Nainish-Rai commented on #24
Hey, I want to contribute to this issue, Please assign me so that I can start working on it.

[2022-10-01 09:41] NtemKenyor opened #25 "Implementation(Coding) of the Profile Page"
After a user signs in, we do not want to take them straight to the dashboard environment. We want to take them to their profile page, where we can display their different projects, modules(contributions) and achievements. Upon clicking the displayed projects or editing them, We can then take them to the dashboard environment.

[2022-10-01 09:59] samyaksand commented on #24
Hello, Im interested in working on this. Also, I have experience for contributing an icon to a different repository.
Link - https://github.com/feenotifier/apps

 Please assign me this issue.

[2022-10-01 10:29] NtemKenyor opened #26 "Convert Inline CSS style to embed CSS style"
### **Detailed Explanation**

Most of the styles added in the dashboard to the HTML elements are done using inline CSS style. However, we need to convert all the Inline CSS style to embed CSS Style upon request by the user.

style="background-color: #de3423;"

CONVERT TO

<style>
.something{
background-color: #de3423;
}
</style>
<div class="something" >

</div>

**Questions**
Can you write some li

[2022-10-01 10:47] NtemKenyor opened #27 "Add a Menu Icon and Little Javascript"
On the mobile view, we need to append an icon before the "Arts/Icons" menu option in the dashboard. This menu button when clicked will display the initial content of the menu that was hidden out for the mobile view. The Menu button when clicked should display the menu containing: file, edit, mode, view, help. and we should have a technique for closing the displayed items. And when we have a tablet

[2022-10-01 10:49] NtemKenyor opened #28 "Create a Render Page"
A full screen display of the things the dashboard has created that are gotten from the saved location of that project.

[2022-10-01 11:10] yogitha02 commented on #27
@NtemKenyor Please do assign this to me, i will be working on it and show best result

[2022-10-01 11:17] akashyadav24 commented on #24
![image](https://user-images.githubusercontent.com/67678310/193406801-80d0d823-a00a-4f02-a4cc-0300f5b4e62f.png)
hey I added Icon in view page

[2022-10-01 11:55] NtemKenyor commented on #24
that's a perfect example of what we're looking for. Nice one. I will assign
you 👍

On Sat, Oct 1, 2022, 12:17 AKASH ***@***.***> wrote:

[2022-10-01 12:09] akashyadav24 commented on #24
thank you

[2022-10-01 12:31] gaurav-iitb commented on #20
can I take this job . I would really love to contribute

[2022-10-01 12:32] gaurav-iitb commented on #18
if it is still open please assign it to me

[2022-10-01 12:33] gaurav-iitb commented on #26
can I take this issue

[2022-10-01 12:43] gaurav-iitb commented on #19
I also would like to contribute to it

[2022-10-01 12:45] gaurav-iitb commented on #7
hi @NtemKenyor can I take this issue

[2022-10-01 12:49] Nainish-Rai commented on #24
Hey,
 anything else is required?

[2022-10-01 20:32] NtemKenyor commented on #26
alright @gaurav-iitb the Job has been assigned to you. Good-luck.

[2022-10-01 20:34] NtemKenyor commented on #27
Done. @yogitha02  The Job has been assigned to you

[2022-10-01 20:38] NtemKenyor commented on #24
Yes the software is far from finish. Just keep checking for more issues the page.

[2022-10-01 21:58] #20 closed, assigned to Shyamala7, Aman0307

[2022-10-01 22:00] #24 closed, assigned to samyaksand, akashyadav24, Nainish-Rai

[2022-10-01 22:33] NtemKenyor opened #32 "Create the UI Designer page"
Remember that our goal is to bridge the gap between front-end, back-end development and UI/UX design.

In most online User Interface design maker software, the canvas is used and other components of the canvas are all created but what if we try to use the absolute or fixed positions in html. This is a crazy idea and it will be on the test for now before it can be accepted or completed.

We can dis

[2022-10-02 08:43] Maykkkk commented on #21
I can help you in this please assign this issue to me.

[2022-10-02 14:12] ghostbadfame commented on #26
is their any other issue for this project??

[2022-10-02 18:24] #18 closed, assigned to Shyamala7

[2022-10-02 18:26] NtemKenyor commented on #21
@Maykkkk the Job has been assigned to you. Thanks.

[2022-10-02 19:54] NtemKenyor opened #33 "Create a Folder and Move Some Files"
move the following text files out of the pages folder
attributes.txt
css_style.txt
HTML elements.txt
test_parts.txt

You can create a folder in "assets". Call the new folder you created "addon"
Paste all the text files above into the "addon" folder

[2022-10-02 19:58] NtemKenyor opened #34 "Make Two Files Look alike"
The Goal.
Remove all the content in "test.html"
copy the 11 lines of code from "testpage.html" into "test.html"

The Aim here is to maintain two test pages for the entire project for now.

[2022-10-02 20:00] NtemKenyor opened #35 "Delete so unnecessary pages"
We have discovered that we have too many test pages on the "pages" folder.

So you Goal is to delete the following files:

feature_all_test.html
feature_tet.html

[2022-10-02 20:03] neutr0ncodes commented on #33
Hey I would like to work on this issue can you please assign this issue to me?

[2022-10-02 20:09] FreemRL commented on #34
Hey I created a PR (#36) for this :)

[2022-10-02 20:14] ManasviGoyal commented on #35
I would like to work on this

[2022-10-02 20:19] neutr0n420 commented on #33
#37

[2022-10-02 20:20] ManasviGoyal commented on #35
@NtemKenyor please check

[2022-10-02 20:24] NtemKenyor opened #40 "Adding a block HTML Comment"
### Goal:
The goal here is to add a comment inside the element(with the id "the_dev_dashboard") in the "dashboard .html". This comment will contain important information about the project. For instance; if that project needs bootstrap, If the project needs special fonts, the favicon, description, etc
This will also help the view_render page to from the back-end

Add the HTML comment below inside t

[2022-10-02 20:33] #35 closed, assigned to ManasviGoyal

[2022-10-02 21:12] NtemKenyor commented on #34
OK resolved. I will be closing this issue now.

[2022-10-02 21:12] #34 closed, assigned to nobody

[2022-10-02 21:17] #33 closed, assigned to neutr0ncodes

[2022-10-03 07:48] NtemKenyor commented on #26
@ghostbadfame2002 you can try this issue too. I will be assigning it to you too. My aim is to get the first pull request that makes sense.

[2022-10-03 12:16] johnwinifred commented on #26
Please can i take this issue too

[2022-10-03 12:19] johnwinifred commented on #22
Please I would like to work on this

[2022-10-03 12:22] johnwinifred commented on #19
Hey, please I would also like to contribute to this

[2022-10-03 12:31] johnwinifred commented on #40
hey, I would love to work on this project

[2022-10-03 21:18] NtemKenyor commented on #40
@johnwinifred  Done. I have assigned the task to you

[2022-10-03 21:33] NtemKenyor opened #41 "Add description on Save Icon"
**Add description on Save Icon on dashboard.html**

If you hover at the Save sub-menu under the file menu of the "dashboard.html" file, You will see a short pop-up "Tooltip text".

_Change the "Tooltip text" to "more"_

**Action(little JavaScript)**
When a user clicks on "more", He should then see a description about the save button. for instance "Use this option to save your project to the serve

[2022-10-04 04:35] Cursed-Ninja commented on #41
Do you want to add the description as an alert message?

[2022-10-04 06:04] NtemKenyor commented on #41
thanks for showing interest here but I think you may not have cloned the
repo at the time of asking this question. or did you?

For you to understand the task better, You need all the descriptions and
explanations U can get. So I will pour it all here 👍

If you move you mouse over the Save sub-menu in the file menu of the
"dashboard.html" file, You will see a pop-up that fades away when you move
o

[2022-10-04 09:06] Cursed-Ninja commented on #41
Yes, I've understood. Thanks a lot. Can you please assign this issue to me?

[2022-10-04 09:14] Cursed-Ninja commented on #41
Do you want me to add the functionality that when someone clicks on that changed text ("more"), he sees the description?

[2022-10-04 10:26] akashyadav24 commented on #10
can you please assign it to me?

[2022-10-04 11:34] NtemKenyor commented on #41
yes will do that 👍

On Tue, Oct 4, 2022, 10:06 Cursed-Ninja ***@***.***> wrote:

[2022-10-04 11:34] NtemKenyor commented on #41
yes sure 👍

On Tue, Oct 4, 2022, 10:14 Cursed-Ninja ***@***.***> wrote:

[2022-10-04 15:46] Cursed-Ninja commented on #41
Just to be clear. I first have to replace the "Tooltip text" with "more" and then add functionality that when someone clicks on that "more" tooltip a popup shows up with more detail about the save icon. Am I correct?

[2022-10-04 18:08] NtemKenyor commented on #41
Yes. Exactly 💯.

On Oct 4, 2022 16:46, "Cursed-Ninja" ***@***.***> wrote:

Just to be clear. I first have to replace the "Tooltip text" with "more"
and then add functionality that when someone clicks on that "more" tooltip
a popup shows up with more detail about the save icon.

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/41#issuecomment-12672098

[2022-10-06 06:55] gaurav-iitb commented on #19
@NtemKenyor  please review my pr

[2022-10-06 12:35] johnwinifred commented on #40
Quick Question;
Should I put up suggestions on how to make the dashboard page better as comments?

[2022-10-06 19:48] NtemKenyor commented on #32
The UI dashboard has been created. What is lift now is for us to continue making adjustments in order to get it to perfection.

[2022-10-06 19:48] #32 closed, assigned to NtemKenyor

[2022-10-06 19:50] NtemKenyor commented on #40
Thank you very much that will be really cool.

But do you want me to create a new issue for that? or would you like to push all the code once and for all? Sorry for the late response.

[2022-10-06 19:54] NtemKenyor commented on #26
yea sure. No problem

[2022-10-06 20:12] NtemKenyor commented on #7
Yea sure. No problem

[2022-10-06 21:26] NtemKenyor commented on #22
Something like this

[http://michaelsoriano.com/wp-content/uploads/2018/01/bs-gallery.gif](url)

[2022-10-06 21:59] NtemKenyor opened #44 "Fix Settings pop-up in "dashboard.html" for mobile-view"
The appearance of the settings pop-up on a mobile device is not appealing. We just need you to make the content on the pop-up not overlay. You may just need to change the width of the pop-up box and the (left, top) position.

remember it is for the mobile-view only. So you may want to use CSS media queries.

[2022-10-06 22:04] NtemKenyor opened #45 "Add Cookies to "dashboard.html" to store the settings"
We depend on the content of the settings pop-up in "dashboard.html" but if the page is reloaded, All user settings(preferences) are all lost.

So we need you to create some cookies to store the user preference.
[code]

[2022-10-06 22:09] NtemKenyor opened #46 "Icon Search not Working in "dashboard.html""
The Search button and the Search bar are not working. We need them to change according to user input. Thank God for the "list" attribute that can now be appended with possible clues and suggestions.

To get the content to create the list, you may want to feed on the Back-end Repository of this organisation. icons/get_icons.php

[2022-10-06 22:12] NtemKenyor commented on #44
And as a clear advise, Please avoid Browsers that try to store-up the entire page on their cache(e.g Google Chrome). You may need to clear cache or use a lite browser.

[2022-10-06 22:20] NtemKenyor opened #47 "Call a Function"
We forgot to call the function that displays the contribution to elements. So when the "contribution" menu in "dashboard.html" is clicked, the entire pop-up is still until you click another tab.

You task is to call the function that will display the contribution form for elements.

[2022-10-06 22:24] NtemKenyor opened #48 "Add a Circle to the "ui_dashboard.html""
When the square-like-icon on the bottom tab of the page is clicked, we see clearly that a square is added to UI dashboard environment. Your goal is to activate the circle icon on the bottom of the page. So! Add a circle to the UI_development environment....

[2022-10-06 22:28] NtemKenyor opened #49 "Add Heading 'div'"
When the menu icon is clicked, activate or display the header similar to the one in "dashboard.html"

[2022-10-06 22:44] ProtyayMnd50 commented on #49
Can you assign me this @NtemKenyor ?

[2022-10-06 22:46] ProtyayMnd50 commented on #48
Can you assign me this @NtemKenyor  pls?

[2022-10-06 23:29] OgunmisiM commented on #47
can this be assigned to me ?
Have the function been created?

[2022-10-07 03:27] ShreyasSahoo commented on #45
Hi NtemKenyor, I would like to contribute to this issue.

[2022-10-07 04:11] NtemKenyor commented on #45
alright 👍. No problem 😊

[2022-10-07 04:13] NtemKenyor commented on #47
alright 👍 I have assigned this to you

[2022-10-07 04:14] NtemKenyor commented on #48
Thanks. that will be great 😊

[2022-10-07 04:17] NtemKenyor commented on #49
That will be cool. 90%of the work is to copy and paste

U will be coping the top header in dashboard.html into the ui_dashboard.html along with the css style.

We want to display:none on the ui_dashboard untill the user clicks on the bottom menu icon...

[2022-10-07 04:44] ShreyasSahoo commented on #44
Hi NtemKenyor, I would like to contribute to this issue.

[2022-10-07 04:48] anuragasawa20 commented on #27
@NtemKenyor Please do assign this to me, I want to work on it

[2022-10-07 06:49] NtemKenyor commented on #27
sure. 👍

On Oct 7, 2022 05:48, "anuragasawa20" ***@***.***> wrote:

@NtemKenyor <https://github.com/NtemKenyor> Please do assign this to me, I
want to work on it

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/27#issuecomment-1271105070>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AOKWIBKTSZGBCUVXV6OX2D3WB6TRBANCNFSM6AAAAAAQ2

[2022-10-07 06:50] NtemKenyor commented on #44
That's Good. 😊

On Oct 7, 2022 05:44, "Shreyas Sahoo" ***@***.***> wrote:

Hi NtemKenyor, I would like to contribute to this issue.

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/44#issuecomment-1271103456>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AOKWIBL7NPFNZ45UZ6ECDJDWB6TDRANCNFSM6AAAAAAQ7BK7AI>
.
You are receiving thi

[2022-10-07 20:43] OgunmisiM commented on #47
i went through the website now, you mean the contribute link, right.

I clicked on it and the pop up showed, do you want it to display only when it is clicked

[2022-10-08 05:37] NtemKenyor commented on #45
please head on 👍

On Fri, Oct 7, 2022, 04:27 Shreyas Sahoo ***@***.***> wrote:

[2022-10-08 05:46] NtemKenyor commented on #47
For further explanation, We have two functions.

The first function is activated when you click on the "contribute"
menu/link as you have earlier said. The aim of the first function is to
display the contribution page containing(Element contribution, Style,
Attribute and module contribution). That works just fine.

However, When the contribution pop-up appears it only displays headers and
no bodil

[2022-10-08 06:15] ShreyasSahoo commented on #45
Sorry NtemKenyor, there has been an increase in my workload and hence I wouldn't be able to resolve this issue. You assign this issue to someone else if you don't mind.

[2022-10-08 07:21] NtemKenyor commented on #45
No problem, You have done well by informing me. Thank you.

On Oct 8, 2022 07:16, "Shreyas Sahoo" ***@***.***> wrote:

Sorry NtemKenyor, there has been an increase in my workload and hence I
wouldn't be able to resolve this issue. You assign this issue to someone
else if you don't mind.

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/45#issuecommen

[2022-10-08 22:14] NtemKenyor commented on #10
Sure.

[2022-10-08 22:21] NtemKenyor opened #55 "Add drop down options for users to select from"
Some attributes and styles require some unique values and it will be better to use a drop down or a select box in the input filed.

add dropdown options in the form box so users can select options provided instead of typing
eg(display — block, inline, flex, grid options).

[2022-10-08 22:23] NtemKenyor commented on #55
This issues requires you to work on the dashboard.html page

[2022-10-08 22:25] NtemKenyor opened #56 "Add a Color Picker for every color related attribute or style"
Adding a color picker for the color attributes and styles in case the user is unsure of the Hex or rgba code.

[2022-10-08 22:31] NtemKenyor opened #57 "Add little Style to elements with the class= "each_item""
Text with class ” each_item”
*For long text behind the box; set text_overflow to ellipses and on hover full text is displayed to user.
The_bottom_bar

[2022-10-08 22:37] NtemKenyor opened #58 "Chief Tutor"
We need to have a YouTube channel or a  Contributor who can make meaningful videos on YouTube about our software and the different things that can be done with the software.

If you have a YouTube account or will love to manage our account, You are welcome..

Send us content you posted before on YouTube or a Channel you already own.

Most of your videos will be displayed to users and it will make

[2022-10-08 22:41] NtemKenyor opened #59 "🔥🔥 Add your name as a Contributor 💪🔥😊"
Follow the steps below:

Click the watch button above
Start 🌟 project above for easy reference
Fork and clone the project.

You can now add your name as a Contributor to this project in our aboutus.html file.
Make your pull request with the title - "Contributed to aboutus.html"

[2022-10-08 22:43] NtemKenyor opened #60 "Social Media Manager"
We need a Contributor that will love to post updates about KwickerHub on Facebook,Twitter and even Instagram

Be rest assured that you will be come a maintainer and part of our core team.

[2022-10-08 22:49] NtemKenyor opened #61 "Enhance the ui_dashboard page"
Make the Font Section Working.

Add an image Box or displayers

Enhance most of the features of the ui_dashboard to at least 70%

[2022-10-08 22:52] Sakshi-75 commented on #57
Hi @NtemKenyor ,
I would like to work on this. Can you assign it to me?

[2022-10-08 22:54] ProtyayMnd50 commented on #59
Can you assign it to me pls @NtemKenyor ?

[2022-10-09 05:02] ShivanshDengla commented on #59
Hey,
i made a pull request

[2022-10-09 06:33] tab21 commented on #55
Hi
Can this issue be assigned to me ?

[2022-10-09 18:37] NtemKenyor commented on #59
This issue is for everybody and can not be necessarily assigned to one person. Just append your name on the sands of time and move on. I have accepted most of the Pull Request in this issue and I will still be accepting more.

[2022-10-09 18:38] Ezekiel8807 commented on #59
Can I still do dis

[2022-10-09 18:39] NtemKenyor commented on #49
@ProtyayMnd50 how are you doing. Are you going through a difficulties? Just checking up on you.

[2022-10-09 18:39] Ezekiel8807 commented on #59
If yes... Please assign it to me

[2022-10-09 18:40] #47 closed, assigned to OgunmisiM

[2022-10-09 18:42] NtemKenyor commented on #55
ok. Done

[2022-10-09 18:47] NtemKenyor commented on #55
Further Explanation

At the moment, all the attributes and styles in the dashboard.html file all use input tags. This is appropriate for styles and attributes that we do not know their possible values but for some cases where a set of values are required, it is proper to use a drop down box or a select/option box

For instance the CSS property "float" can be set to "right", "left", "none", etc
als

[2022-10-09 19:16] NtemKenyor commented on #57
@Sakshi-75 at the time of seeing this message, I have already received a pull request from @kull-boii

Please, @Sakshi-75 I will be on the look to assign further issues to you. Thank you.

[2022-10-09 19:17] NtemKenyor commented on #57
Anyways, Thank you @kull-boii

[2022-10-09 19:17] #57 closed, assigned to nobody

[2022-10-09 19:43] ProtyayMnd50 commented on #49
Could you give me some for more time @NtemKenyor  for this issue?

[2022-10-09 19:48] NtemKenyor opened #65 "Change the restore icons"
When you close the side bars in the left or right side, An icon then appears by the side in situations when you want to restore the bar.

![Screenshot from 2022-10-09 19-48-32](https://user-images.githubusercontent.com/60122117/194776571-a65a9436-db05-4b3d-99b1-f3efc54f2022.png)

We want to change this icons to the caret left and right which look more professional.

[2022-10-09 19:50] NtemKenyor commented on #25
I am making the Job very easy by dropping a possible profile page design idea.
![image-processing20210117-17820-4vuab0-1024x768](https://user-images.githubusercontent.com/60122117/194776676-a3642dbe-bafe-4b03-9472-b733b96ff939.jpg)

[2022-10-09 20:22] NtemKenyor commented on #25
I only need one or two persons to indicate interest in implementing the code for the image above.

Another advantage to the person that takes up this issue is that you get to push as many pull request in this page as possible.

[2022-10-09 20:27] NtemKenyor commented on #49
Yea sure. No problem.

[2022-10-10 01:40] epolis185 commented on #65
Hi! I'd like to give this one a try

[2022-10-10 05:27] NtemKenyor commented on #65
Yea Sure. You can try it.

Let be also help you out with more description:

All you need to do is change the restore icon in the left and right parts
to the caret left and right icon respectively.

We are using the FontAwesome Icons so all you need to do is to change the
class of the tag(span or i) to the caret class... Don't border importing
the Library because we already have it on the dashboard

[2022-10-10 08:28] kull-boii commented on #65
Greetings!

The issue has been fixed.

@epolis185 you can still consider this as a problem and try to solve it :)
[Solution](https://github.com/KwickerHub/frontend/pull/67/files)

[2022-10-10 08:40] kull-boii opened #68 "Logo Url not working"
When the logo is clicked
![image](https://user-images.githubusercontent.com/68529036/194827766-597691e5-6291-4bf1-8c78-31fd9896a59d.png)

it results a 404 error

![image](https://user-images.githubusercontent.com/68529036/194827812-2a679a2d-ec5a-45fd-be14-7cb163de7b19.png)

[2022-10-10 12:14] johnwinifred commented on #40
You can create a new issue for that

[2022-10-10 12:30] tab21 commented on #55
Okay thank you
I will get back after trying

[2022-10-10 14:28] johnwinifred commented on #59
Wow Thanks @NtemKenyor

[2022-10-10 22:04] epolis185 commented on #65
@kull-boii @NtemKenyor
Thank you - it looks like you [@kull-boii ] already have a pull request solving this issue so I will just look for another one.

[2022-10-11 04:37] NtemKenyor commented on #68
I like the fact that you created the issue and didn't wait for me. Truth be told, I did not even observe that. Thank you. More please 😊

[2022-10-11 05:28] #44 closed, assigned to ShreyasSahoo

[2022-10-11 05:30] NtemKenyor commented on #40
ok I think we are done with this.

[2022-10-11 05:30] #40 closed, assigned to johnwinifred

[2022-10-11 05:32] NtemKenyor commented on #10
@akashyadav24 hope you are doing great?
I Just wanted to checkup on you. How is everything going?

[2022-10-11 06:41] NtemKenyor commented on #65
@epolis185 you can also try to use the software as to create an issue you feel should be addressed.

[2022-10-11 06:41] #65 closed, assigned to epolis185

[2022-10-11 06:41] #68 closed, assigned to nobody

[2022-10-11 07:53] johnwinifred commented on #55
Can this issue also be assigned to me

[2022-10-11 07:54] johnwinifred commented on #60
I would really love to work on this
I can create infographics, banners and short videos on the project.

[2022-10-11 08:26] NtemKenyor opened #72 "Adding Undo and Redo Buttons"
Most times, people make a lot of mistakes when creating designs or web pages. We need a redo and undo button. in the dashboard.html file.

We can also add some shortcuts of
ctrl + z = undo
ctrl + y = redo
ctr + shift + z = redo

[2022-10-11 08:30] NtemKenyor opened #73 "Add a short-cut key for Duplicate"
on the dashboard(dashboard.html) environment, when somebody wants to duplicate an element or module, He should not always go up to locate the "duplicate" command in the top menu. He/She can simply use the shortcut key:

ctrl + D = Duplicate

This will help manage users production time and it will also be fun.

[2022-10-11 08:34] NtemKenyor commented on #41
Hello @Cursed-Ninja

Hope you are doing great? Hope all is well? Just my usual way of checking up on you. Do have a nice day.

[2022-10-11 08:35] NtemKenyor commented on #25
I will be closing this issue to reopen it.

[2022-10-11 08:35] #25 closed, assigned to nobody

[2022-10-11 08:37] NtemKenyor opened #74 "Create the Profile Page"
After a user signs in, we do not want to take them straight to the dashboard environment. We want to take them to their profile page, where we can display their different projects, modules(contributions) and achievements. Upon clicking the displayed projects or editing them, We can then take them to the dashboard environment.

I am making the Job very easy by dropping a possible profile page desig

[2022-10-11 08:43] NtemKenyor commented on #60
That will be awesome. how many short videos are we looking at?

If given details to our Twitter, Instagram, Facebook Page can you manage it? Do you have some knowledge about Facebook advertising?

[2022-10-11 08:48] NtemKenyor commented on #19
done.

[2022-10-11 08:48] #19 closed, assigned to Alve2000, gaurav-iitb

[2022-10-11 08:48] akashyadav24 commented on #10
Sorry for the delay...I am working on it
ill submit it till Thursday

[2022-10-11 08:49] NtemKenyor commented on #22
@johnwinifred hope you are doing great. I can see you are. You have been very active here. Well done. What is the progress rate with this?

[2022-10-11 08:52] NtemKenyor commented on #21
@Maykkkk hope you are doing great? How are you faring? Just checking up on you. any progress?

[2022-10-11 09:16] NtemKenyor commented on #55
That's ok

On Mon, Oct 10, 2022, 13:30 tab21 ***@***.***> wrote:

[2022-10-11 09:31] poorvaditya18 commented on #72
Hey, I'm Interested in working on this issue. Can you assign it to me ?

[2022-10-11 09:51] NtemKenyor commented on #72
Ok. I will. We can both work on it. can you share any algorithm/method you
intend to use

On Tue, Oct 11, 2022, 10:32 poorvaditya18 ***@***.***> wrote:

[2022-10-11 09:52] NtemKenyor commented on #55
Yes. Sure.

On Tue, Oct 11, 2022, 08:53 John Winifred ***@***.***> wrote:

[2022-10-11 09:52] NtemKenyor commented on #10
alright. No problem.

On Tue, Oct 11, 2022, 09:48 AKASH ***@***.***> wrote:

[2022-10-11 10:43] epolis185 commented on #74
Hi, I'd like to give this a shot, thanks!

[2022-10-11 11:12] NtemKenyor commented on #74
Yea sure. No problems...

On Oct 11, 2022 11:43, "epolis185" ***@***.***> wrote:

Hi, I'd like to give this a shot, thanks!

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/74#issuecomment-1274488357>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AOKWIBLIL6KXKRL7LSQQ7JTWCVAGHANCNFSM6AAAAAARCBIQJI>
.
You are receiving this becaus

[2022-10-11 13:06] johnwinifred commented on #22
The video was taking me to another link
But I am almost done with this
And I will be sending a pull request at the end of the week
Thanks 😊

[2022-10-11 13:28] NtemKenyor commented on #22
alright 👍 that's good to know...

On Oct 11, 2022 14:06, "John Winifred" ***@***.***> wrote:

The video was taking me to another link
But I am almost done with this
And I will be sending a pull request at the end of the week
Thanks 😊

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/22#issuecomment-1274659039>,
or unsubscribe
<https://github.com/noti

[2022-10-11 13:29] Ezekiel8807 commented on #59
Done boss... Made PR already

[2022-10-11 13:31] epolis185 commented on #74
I was thinking about doing this with different pull requests.
Some of the initial ones:
PR 1. barebones, no style, add page with some placeholder content
PR 2. add style to the page with more content

[2022-10-11 13:44] NtemKenyor commented on #74
cool. That's nice. If you happen to make more PR's I will till accept
though.

On Tue, Oct 11, 2022, 14:31 epolis185 ***@***.***> wrote:

[2022-10-11 13:45] NtemKenyor commented on #59
ok. will check it out soon

On Tue, Oct 11, 2022, 14:29 Ezefizzy ***@***.***> wrote:

[2022-10-11 16:11] johnwinifred commented on #60
Two videos on Instagram and Twitter
Then infographics and banners on Facebook.
Hmmm about Facebook advertising I will look that up

[2022-10-11 16:12] johnwinifred commented on #60
About managing the pages I can absolutely do that

[2022-10-11 18:35] Cursed-Ninja commented on #41
Hey, @NtemKenyor I'm good, I hope you are doing great as well.

[2022-10-12 20:06] sarthakastic opened #81 "Fix landing page overflowing in mobile view"
The landing page is overflowing in mobile view

<img width="1710" alt="Screenshot 2022-10-13 at 1 35 23 AM" src="https://user-images.githubusercontent.com/72138026/195437428-9de3ae9c-4b29-4425-b506-9cf27e9a6a35.png">

[2022-10-12 20:15] NtemKenyor commented on #74
Since you are already handling this task, I will be closing this issue.

[2022-10-12 20:15] #74 closed, assigned to nobody

[2022-10-12 21:08] #41 closed, assigned to Cursed-Ninja

[2022-10-12 21:14] NtemKenyor commented on #81
ok. Thank you for noticing this. Would you be handling this? or would you like me to assign this issue to another person?

[2022-10-13 04:50] sarthakastic commented on #81
Yes pls assign it to me under hacktoberfest label

[2022-10-13 08:14] rajnish254 commented on #56
Assign me that issue
Thanks

[2022-10-13 08:14] rajnish254 commented on #58
Assign me that issue
Thanks

[2022-10-13 08:14] rajnish254 commented on #46
Assign me that issue
Thanks

[2022-10-13 08:15] rajnish254 commented on #28
Assign me that issue
Thanks

[2022-10-13 08:15] rajnish254 commented on #73
Assign me that issue
Thanks

[2022-10-13 08:47] NtemKenyor commented on #60
Hello @johnwinifred We can talk more on a messaging platform like WhatsApp, +2349097441316. i will be closing this issue.

[2022-10-13 08:47] #60 closed, assigned to nobody

[2022-10-13 10:02] johnwinifred commented on #60
Ok

[2022-10-13 11:41] NtemKenyor commented on #46
sure. That's good.

On Oct 13, 2022 09:15, "rajnish254" ***@***.***> wrote:

Assign me that issue
Thanks

—
Reply to this email directly, view it on GitHub
<https://github.com/KwickerHub/frontend/issues/46#issuecomment-1277216071>,
or unsubscribe
<https://github.com/notifications/unsubscribe-auth/AOKWIBKXWBKK3FELAV2ECY3WC7AIHANCNFSM6AAAAAAQ7BRDAQ>
.
You are receiving this because you authored the

[2022-10-13 13:06] Ezekiel8807 commented on #81
I can do that, if it's still available

[2022-10-13 13:15] Ezekiel8807 commented on #56
Where exactly am I to add the color picker

[2022-10-13 13:15] Ezekiel8807 commented on #56
You can assign this to me I will love to work on it

[2022-10-13 17:41] rajnish254 commented on #46
unable to find search bar and search button

[2022-10-13 19:20] NtemKenyor commented on #58
@rajnish254 do you have an active YouTube channel?

[2022-10-13 19:24] ena-04 commented on #73
hey, i would like to work on this. can you assign it to me?

[2022-10-13 20:00] rajnish254 commented on #58
No

[2022-10-14 22:20] Ezekiel8807 commented on #81
![overflow](https://user-images.githubusercontent.com/57665815/195952151-83294eee-ceec-4499-941d-238167b65d1f.PNG)
![overflow2](https://user-images.githubusercontent.com/57665815/195952165-286ef295-0304-4108-8772-da2a5f5e745f.PNG)

I will really love to fix this issue if its still open

[2022-10-15 03:42] VANSHAJB10 commented on #49
can you please assign this issue to me ? @NtemKenyor

[2022-10-15 09:12] NtemKenyor commented on #26
Hello @ghostbadfame2002  @gaurav-iitb @johnwinifred

Do we have a conversion page? Hope you are all doing great. It will be nice to hear from you guys. Do have a nice day.

[2022-10-15 09:30] NtemKenyor commented on #72
Hello @poorvaditya18  I have done it. Sorry for the delay was occupied with other areas of the project.

[2022-10-15 09:38] NtemKenyor commented on #61
paid my dues. LOL

[2022-10-15 09:38] #61 closed, assigned to NtemKenyor

[2022-10-15 09:42] NtemKenyor commented on #46
@rajnish254 click on the arts/icons menu and you will see a list of icons pop-up but the search bar in that pop-up is not working.

[2022-10-15 09:47] NtemKenyor opened #92 "Add Text/Fonts in the UI_dashboard"
**Describe the bug**
Just like people can add squares and circles, We want out users to be able to add text content. When the User clicks the font/text icon on that bottom bar, A default text should always be adding on the development environment.

**File/Files you will work on**
ui_dashboard.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given)

**Result

[2022-10-15 09:52] NtemKenyor opened #93 "Add Image in UI_dashboard"
**Describe the bug**
Just like adding a square and circle, We need our users to be able to add images.
You will need to add an image or gallery icon on the bottom bar
When users click the added icon, a default image should always be added on screen

**File/Files you will work on**
ui_dashboard.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given)

**Resul

[2022-10-15 09:59] NtemKenyor opened #94 "Save Project Automatically"
**Describe the bug**
We do not want people to loss their work or projects, So we intend to automatically save their projects.
Algo 1:
U can use a time interval to always call the save function

Algo 2 & Better
We only want to save content when the user adds content or when the user is active. So to achieve this, We intend to call the Save function when a new item is added to the development dashbo

[2022-10-15 10:02] NtemKenyor commented on #55
This is resolved. Thank you all.

Check out the new issues about making a similar drop down for font families

[2022-10-15 10:02] #55 closed, assigned to tab21

[2022-10-15 10:05] NtemKenyor commented on #56
Hello @Ezekiel8807, @rajnish254
I am going to close this issue because it is one of the simplest issues at the moment to solve. A solution was provided in the ui_dashboard.html file. You can check it out and use it to contribute to the dashboard.html file

Your contribution is in the dashboard.html file

[2022-10-15 10:05] #56 closed, assigned to buildwithzeke, rajnish254

[2022-10-15 10:06] NtemKenyor commented on #81
I have not received a pull request for now.

[2022-10-15 11:27] VANSHAJB10 commented on #45
please assign me this issue @NtemKenyor

[2022-10-15 12:33] ena-04 commented on #73
@NtemKenyor i have created a PR, please check

[2022-10-18 07:12] NtemKenyor commented on #48
Hello guys. I will be closing this issue because @aadi58002 solved it.

[2022-10-18 07:13] NtemKenyor commented on #48
I will like you guys @ProtyayMnd50  and  @aadi58002 to check out the new issue I raised similar to this one. Add text and other shapes #93 #92

[2022-10-18 07:13] #48 closed, assigned to nobody

[2022-10-18 07:17] NtemKenyor commented on #28
I HAVE DONE THAT

[2022-10-18 08:27] aadi58002 commented on #92
Can you assign it to me ?

[2022-10-18 08:28] aadi58002 commented on #94
Can you assign it to me?

[2022-10-18 08:30] aadi58002 commented on #93
Can you assign it to me?

[2022-10-18 08:40] NtemKenyor commented on #93
Done @aadi58002

[2022-10-18 20:07] johnwinifred commented on #26
I have actually done the project but I have a slight issue
For now the code only identifies id not class names when converting to embedded css

[2022-10-24 04:35] gitamandeep commented on #59
@NtemKenyor please assign this to me

[2022-10-24 04:37] gitamandeep commented on #49
@NtemKenyor plz assign this to me.

[2022-10-24 04:37] gitamandeep commented on #92
@NtemKenyor please assign this task to me.

[2022-10-27 02:10] #93 closed, assigned to aadi58002

[2022-10-27 02:11] #92 closed, assigned to aadi58002

[2022-10-27 02:12] #81 closed, assigned to buildwithzeke, sarthakastic

[2022-10-27 02:31] NtemKenyor commented on #73
@ena-04 please review and take the recommended action. Your code looks good but it is in the wrong file. Place it in dashboard.js

[2022-10-27 02:41] NtemKenyor commented on #49
Hello guys. REALLY SORRY FOR THE DELAY.
So let's get straight to business. I have assigned you guys. We need a pull request as fast as possible and remember, It is not a difficult task.

90% of the work is to copy and paste
U will be coping the top header in dashboard.html into the ui_dashboard.html along with the css style.
We want to display:none on the ui_dashboard until the user clicks on the

[2022-10-27 09:23] NtemKenyor commented on #94
I was able to work on this. We can now save content automatically. And the content is recovered when ever the page is loaded. Though I plan on improving the code better.

[2022-10-27 16:50] #45 closed, assigned to nobody

[2022-10-27 17:09] NtemKenyor opened #113 "Change the Profile Image in profilepage.html"
**Describe the bug**
Change the profile image in profilepage.html

**File/Files you will work on**
profilepage.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given)

**Result or Final Looks**
You should have changed the default profile picture from the face of the woman to an anonymous general context profile image like the one below.

![146-1468479_my-pr

[2022-10-27 17:11] Sakshi-75 commented on #113
Hi @NtemKenyor can I work on this?

[2022-10-27 17:14] NtemKenyor opened #114 "Enable user to change their Bio information"
**Describe the bug**
When a user double clicks(or if a user clicks on the edit icon you add) on his/her Bio information in profilepage.html, a textarea HTML TAG should appear with a save button below it.

**File/Files you will work on**
profilepage.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given)

**Result or Final Looks**
Users should be able to cha

[2022-10-27 17:18] NtemKenyor opened #116 "Fix Tables in aboutus.html"
**Describe the bug**
As much as HTML is simple, we still make mistakes. LOL. Please check the table in aboutus.html and fix it.

**File/Files you will work on**
aboutus.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given)

**Result or Final Looks**
The Table opening tags and end tags should be alright. The HTML table should be fixed. Thank you.

[2022-10-27 17:22] shrutilenka commented on #116
Hey @NtemKenyor  I am interested to work on this issue.Could you please assign this to me?

[2022-10-27 17:23] NtemKenyor opened #117 "Making Save, Auto Save and Load functionality for the UI Dashboard"
**Describe the bug**
The content in the UI DASHBOARD is not saved. However, we already have the functions and the required code to save and reload the design when needed. We need you to actualize a save, auto save and reload system to help the UI/UX section.

**File/Files you will work on**
ui_dashboard.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given

[2022-10-27 17:26] Sakshi-75 commented on #114
Hi @NtemKenyor can I work on this?

[2022-10-27 17:29] salilbc commented on #116
Please review my PR for the fix

[2022-10-27 17:31] NtemKenyor opened #119 "Like we have suggestion to float, display and other value properties."
**Describe the bug**
We also need some suggestion on the input box for size properties like border radius, width, font-size, height etc. All this properties  only need some pixels, em, %, vh or vw
We can always make some global suggestions for the users. example (9px, 100%, 100vh, 20px, etc)

**File/Files you will work on**
dashboard.html

**Possible Lines of Code**
You should not add above the po

[2022-10-27 17:33] NtemKenyor opened #120 "Like we have suggestion to float, display and other value properties."
**Describe the bug**
We also need some suggestion on the input box for size properties like border radius, width, font-size, height etc. All this properties  only need some pixels, em, %, vh or vw
We can always make some global suggestions for the users. example (9px, 100%, 100vh, 20px, etc)

**File/Files you will work on**
dashboard.html

**Possible Lines of Code**
You should not add above the po

[2022-10-27 17:37] NtemKenyor opened #121 "Make Suggestion Style Properties in UI_dashboard"
**Describe the bug**
We also need some suggestion on the input box for size properties like border radius, width, font-size, height etc. All this properties  only need some pixels, em, %, vh or vw
We can always make some meaningful global suggestions for the users. example (9px, 100%, 100vh, 20px, etc)

**File/Files you will work on**
ui_dashboard.html

**Possible Lines of Code**
You should not ad

[2022-10-27 17:39] #120 closed, assigned to nobody

[2022-10-27 17:48] NtemKenyor opened #123 "Shortcut Key for -- Delete"
**Describe the bug**
With JavaScript, you can listen to user inputs. When even a user presses the delete key, we need you to call the remove element function.

**File/Files you will work on**
dashboard.html

**Possible Lines of Code**
You should not add above the possible lines of code. (if given)

**Result or Final Looks**
When a user presses "delete" on the key board, He should automatically rem

[2022-10-27 19:01] supsa-ak commented on #123
Hi, Please assign this issue to me. I am participating in Hacktoberfest.

[2022-10-28 04:32] Mayureshkaulwar commented on #113
assign to me

[2022-10-28 12:38] NtemKenyor commented on #123
@supsa-ak go on. And please in this project, Do not wait for issues to be assigned to you. Just start working and send us a PR straight on.

[2022-10-28 12:42] NtemKenyor commented on #113
Alright guys. You can go for it.

[2022-10-28 12:46] NtemKenyor commented on #116
Well done guys.

[2022-10-28 12:51] NtemKenyor commented on #114
@Sakshi-75, please do not always wait for me to assign the task to you even though that looks like standard procedure. Just start working and send a PR. I will review and ask for changes were possible or accept.  This is because I have a lot of duties here. Thank you for understanding.

[2022-10-28 15:59] sohanvichare7 commented on #113
Hello @NtemKenyor , May I work on this ??

[2022-10-29 17:54] VANSHAJB10 commented on #113
please assign me this issue @NtemKenyor

[2022-10-29 18:31] Sakshi-75 commented on #113
Hi @NtemKenyor I raised a PR for this: #127
Please review.

[2022-10-30 16:08] Gowrishankar04 commented on #114
Hi @NtemKenyor ,

Raised PR for the issue. Please review and merge it.

Thanks

[2022-10-31 12:23] #113 closed, assigned to Sakshi-75, Mayureshkaulwar

[2022-10-31 12:29] #114 closed, assigned to Sakshi-75

[2022-10-31 12:32] #116 closed, assigned to salilbc, AkintolaRichard, shrutilenka

[2022-11-01 20:13] kull-boii opened #132 "Adding .gitignore"
## .gitignore is missing

I can see some unnecessary files that have been committed because .gitignore wasn't created

eg .DS_Store (DS_Store files are automatically created by Mac OS X Finder in browsed directories. These files contain information about system configuration. If you upload them along with other files, the files can be misused to obtain information about your computer. )

![image](

[2022-11-03 17:09] NtemKenyor commented on #132
@kull-boii done. Great observation👌

[2022-11-03 17:11] NtemKenyor commented on #26
@johnwinifred Thank you for #129

[2022-11-03 17:11] #26 closed, assigned to ghostbadfame, gaurav-iitb, johnwinifred

[2022-11-03 17:14] #94 closed, assigned to nobody

[2022-11-04 16:30] #132 closed, assigned to kull-boii

[2022-11-27 07:54] ASANIYAN commented on #117
Would love to work on this. Can I get assigned?